/* (edit style.css for your own book styles) */

img { max-width: 100%; }

:root {
  --comp: #4864DB;
  --dist: #10D4CF;
  --rels: #8DEA74;
  --time: #F5C748;
  --cert: #EA4E11;
}

/* rainbow borders */
body {
  margin-top: 20px;
  box-shadow: 0 -4px 0 0px var(--cert),
              0 -8px 0 0px var(--time),
              0 -12px 0 0px var(--rels),
              0 -16px 0 0px var(--dist),
              0 -20px 0 0px var(--comp);
}

#comparisons h1, #comparisons h2 { color: var(--comp); }
#distributions h1, #distributions h2 { color: var(--dist); }
#relationships h1, #relationships h2 { color: var(--rels); }
#timeseries h1, #timeseries h2 { color: var(--time); }
#uncertainties h1, #uncertainties h2 { color: var(--cert); }


